
    <link href="css/course.css" rel="stylesheet" type="text/css" media="all"/>
	<div id="content">
    	<div class="courseHead"><div class="userImage"><a href="javascript:;"><img src="imgs/user/02.png"></a></div><p class="instrMesg"><span class="sexIcon"></span><span class="name">陈思明</span><span class="inlineBlock icon">查看用户</span></div>
        <div class="courseItem phone"><b class="itemIcon"></b><a class="itemText" href="tel:13812312399">13812312399</a></div>
        <div class="courseItem option"><label><input type="radio" checked="checked" /><b>一节课</b></label><label><input type="checkbox" checked="checked" /><b>游泳</b></label></div>
        <div class="courseItem user"><b class="itemIcon"></b><span class="itemText">张三</span></div>
        <div class="courseItem dateTime"><b class="itemIcon"></b><span class="itemText">2015-11-29  14:25:00</span></div>
        <div class="courseItem adress"><b class="itemIcon"></b><span class="itemText">徐汇区上海体育馆</span></div>
        <div class="courseItem tips"><b class="itemIcon"></b><textarea class="altText" readonly="readonly">在上海体育馆的游泳馆，我想学下游泳</textarea></div>
        <div class="courseItem"></div>
        <div class="opera"><a href="javascript:;" class="btn submit">确认预约</a></div>
    </div>
    <div class="operaAxea">
    	<div class="elses">
        	<p class="elsesTitle">取消理由</p>
            <p class="item"><label><input type="radio" name="elses" /><b>这个时间已有其它预约了</b></label></p>
            <p class="item"><label><input type="radio" name="elses" /><b>场馆租不到</b></label></p>
            <p class="item"><label><input type="radio" name="elses" /><b>恶意预约</b></label></p>
            <p class="item"><label><input type="radio" name="elses" /><b>其它原因</b></label></p>
            
        </div>
        <div class="courseItem"><textarea class="altText" style="margin:0 5px; width:90%;" placeholder="请在这里写下原因"></textarea></div>
        <div class="courseItem" style=" text-align:center;"><label><input type="checkbox" checked="checked" /><b>给对方提供联系方式</b></label></div>
        <div class="opera"><a href="javascript:;" class="btn cancel">取消预约</a></div>
    </div>
