
<!-- <div class="tipMesg lineBot"><p>验证码已发送到<span ng-bind="set.mobile"></span>，<span>300</span>秒内有效</p></div> -->
<div class="tipMesg lineBot"><p>该功能暂时关闭，请联系管理员。</p></div>
<div id="content">
    <div class="inputArea">
        <!-- <p class="inputItem lineBot verCode"><input type="tel" id="txtValidateCode" pattern="[0-9]" placeholder="请输入验证码" maxlength="6" ng-model="value.verCode" />
        <a href="javascript:;" class="inlineBlock getVercode notGetcode">重新发送</a></p> -->
        <p class="inputItem lineBot loginPwd"><input type="password" id="txtNewPwd" placeholder="请输入新密码(6-12位数字或字母)" maxlength="12" ng-model="value.newPwd" /></p>
    </div>
    <div class="operaArea">
        <p><a href="javasccript:;" id="subButton" class="subButton" ng-click="submit()">提交</a></p>
    </div>
</div>
