<!-- <div class="tipMesg lineBot"><p>为验证您的信息，会发送验证码到您手机。</p></div> -->
<div id="content">
    <div class="inputArea">
        <p class="inputItem lineBot mobile"><input type="tel" pattern="[0-9]" placeholder="请输入您的11位手机号" ng-model="login.mobile" maxlength="11" /></p>
    </div>
    <div class="operaArea">
        <!--forgetpwd_setpwd.html-->
        <p><a href="javascript:;" ng-click="Next()" id="subButton" class="subButton">下一步</a></p>
        <p class="breadOpera"><a href="javascript:;" ng-click="Register()" class="left regis">我要注册</a>
            <a href="javascript:;" ng-click="Login()" class="right backLogin">返回登录</a></p>
    </div>
</div>
