<div class="gymMesg">
    <p class="texts">俱乐部的文字描述俱乐部的文字描述俱乐部的文字描述俱乐部的文字描述俱乐部的文字描述</p>
</div>
<div class="gymShow">
    <div class="imgList">
        <a href="javascript:;" class="inlineBlock show left"></a><a href="javascript:;" class="inlineBlock show right"></a>
        <div class="items"><img src="imgs/user/01.png" alt=""><img src="imgs/user/03.png" alt=""><img src="imgs/user/04.png" alt=""><img src="imgs/user/05.png" alt=""><img src="imgs/user/01.png" alt=""><img src="imgs/user/03.png" alt=""><img src="imgs/user/04.png" alt=""><img src="imgs/user/05.png" alt=""></div>
    </div>
</div>

<div class="gymMesg topLine">
    <div class="tipmesg">
        <p class="inlineBlock levalmesg leval4"><b></b><i></i><a></a><span></span><strong></strong></p>
        <span class="value">4.1</span><span class="talks">(<i>250</i>人评价)</span><a href="javascript:;" class="goTalk">查看评价</a>
    </div>
</div>

<div class="gymShow">
    <div class="dataList round">
        <div class="list clear listFirst">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/05.png" /></a></div>
            <div class="others">
                <p class="instrMesg"><span class="sexIcon"></span><span class="name">陈思明</span><span class="leval"><b class="leval4"></b>四星教练</span></p>
                <p class="instrMesg"><span class="place">浦东新区</span><span class="age">教龄5年</span></p>
                <p class="goodattags"><span>游泳</span><span>跳水</span><span>冲浪</span></p>
            </div>
        </div>
        <div class="list clear">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/02.png" /></a></div>
            <div class="others">
                <p class="instrMesg"><span class="sexIcon man"></span><span class="name">陈经纶</span><span class="leval"><b class="leval5"></b>五星教练</span></p>
                <p class="instrMesg"><span class="place">徐汇区</span><span class="age">教龄5年</span></p>
                <p class="goodattags"><span>游泳</span><span>跳水</span><span>冲浪</span></p>
            </div>
        </div>
        <div class="list clear">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/04.png" /></a></div>
            <div class="others">
                <p class="instrMesg"><span class="sexIcon man"></span><span class="name">Jake</span><span class="leval"><b class="leval3"></b>三星教练</span></p>
                <p class="instrMesg"><span class="place">宝山区</span><span class="age">教龄5年</span></p>
                <p class="goodattags"><span>游泳</span><span>跳水</span><span>冲浪</span></p>
            </div>
        </div>
    </div>
</div><!--  dataList END -->
<p class="loadMore loadMar"><span class="inlineBlock icon"></span>下拉获取更多</p>
</div>



<div class="gymShow">
    <div class="viptalk">
        <div class="title"><b class="inlineBlock"></b><strong>会员评价</strong></div>
        <div class="talkList">
            <div class="item">
                <div class="mesg"><a href="javascript:;" class="username">逗比程序猿</a><p class="inlineBlock levalmesg leval3"><b></b><i></i><a></a><span></span><strong></strong></p><span class="time">2015-02-23 14:26:58</span></div>
                <p class="texts">很不错哦，里面环境非常好，教练也不错。使用场馆需要自带哪些东西，另外，场馆提供哪些东西呢？</p>
            </div>
            <div class="item">
                <div class="mesg"><a href="javascript:;" class="username">逗比程序猿</a><p class="inlineBlock levalmesg leval4"><b></b><i></i><a></a><span></span><strong></strong></p><span class="time">2015-02-23 14:26:58</span></div>
                <p class="texts">很不错哦，里面环境非常好，教练也不错。使用场馆需要自带哪些东西，另外，场馆提供哪些东西呢？</p>
            </div>
            <div class="item">
                <div class="mesg"><a href="javascript:;" class="username">逗比程序猿</a><p class="inlineBlock levalmesg leval1"><b></b><i></i><a></a><span></span><strong></strong></p><span class="time">2015-02-23 14:26:58</span></div>
                <p class="texts">很不错哦，里面环境非常好，教练也不错。使用场馆需要自带哪些东西，另外，场馆提供哪些东西呢？</p>
            </div>
        </div>
        <p class="loadMore"><span class="inlineBlock icon"></span>下拉获取更多</p>
    </div>
</div>

<div class="bookCourse"><a href="javascript:;" class="inlineBlock btn">预定课程</a><span class="inlineBlock status"></span></div>
