  
<div id="content">
    <h6>上海浦东新区源生体育中心</h6>
    <div class="areaItem input"><textarea class="comment" placeholder="请在这里输入纠错内容，如果您的纠错被采纳，会提供2000肌点的奖励哦~~~"></textarea></div>
    <div class="areaItem addimg">
        <a href="javascript:;"><img src="imgs/user/05.png" /><b></b></a>
        <a href="javascript:;"><img src="imgs/user/03.png" /><b></b></a>
        <a href="javascript:;"><img src="imgs/user/04.png" /><b></b></a>
        <a href="javascript:;" class="adds"></a>
    </div>
</div><!-- content END-->
<div class="opera"><a href="javascript:;" class="inlineBlock btn">发表评论</a></div>
