
<link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
<div id="filter"><span class="oneif teachLength"><b></b><i>&gt;5年教龄</i></span><span class="twoif allitems"><b></b><i>全部分类</i></span>
    <span class="threeif searh"><input type="text"><b></b></span></div>

<div class="options">
    <p class="thisTitle"><b></b>获取当前位置</p>
    <div class="items"><span class="bor">嘉定区</span><span>浦东新区</span><span class="bor">松江区</span><span>静安区</span></div>
</div>

<div id="content">
    <div class="dataList round">
        <div class="list clear listFirst">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/05.png"></a></div>
            <div class="others">
                <p class="instrMesg"><span class="sexIcon"></span><span class="name">陈思明</span><span class="leval"><b class="leval4"></b>四星教练</span></p>
                <p class="instrMesg"><span class="age">教龄5年</span><span class="gymname">三林体育中心</span></p>
                <p class="goodattags"><span>游泳</span><span>跳水</span><span>冲浪</span></p>
            </div>
        </div>
        <div class="list clear">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/02.png"></a></div>
            <div class="others">
                <p class="instrMesg"><span class="sexIcon man"></span><span class="name">陈经纶</span><span class="leval"><b class="leval5"></b>五星教练</span></p>
                <p class="instrMesg"><span class="age">教龄5年</span><span class="gymname">陈经纶体育馆</span></p>
                <p class="goodattags"><span>游泳</span><span>跳水</span><span>冲浪</span></p>
            </div>
        </div>
        <div class="list clear listEnd"></div>
    </div><!--  dataList END -->

    <div class="dataList">
        <div class="list clear listFirst">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/03.png"></a></div>
            <div class="others">
                <p class="gymname">三林体育中心</p>
                <p class="levalmesg leval1"><b></b><i></i><a></a><span></span><strong></strong></p>
                <p class="gymlMesg"><span class="place">浦东新区</span><span class="useway">运动健身</span></p>
            </div>
        </div>
        <div class="list clear">
            <span class="icon"></span>
            <div class="showImg"><a href="javascript:;"><img src="imgs/user/04.png"></a></div>
            <div class="others">
                <p class="gymname">三林体育中心</p>
                <p class="levalmesg leval5"><b></b><i></i><a></a><span></span><strong></strong></p>
                <p class="gymlMesg"><span class="place">浦东新区</span><span class="useway">运动健身</span></p>
            </div>
        </div>
        <!--<div class="list clear listEnd"></div>-->
    </div><!--  dataList END -->

    <p class="loadMore"><span class=" inlineBlock icon"></span>下拉获取更多</p>
</div>
