<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<style type="text/css">
	*{ margin:0; font-size:13px;}
	ul{ margin:20px 0;}
	li{ line-height:21px;}
</style>
</head>
<body>

	<ul>
    	 <li>教练</li>        
        <li><a href="instructor_list.html">教练列表</a></li>
        <li><a href="instructor_detail.html">教练详情</a></li>    	
    	<br/>
    	<li>注册登录找回密码</li>
    	<li><a href="login.html">登录</a></li>
        <li><a href="regis_mobile.html">注册-输入手机号</a></li>
        <li><a href="regis_setmesg.html">注册-设置用户名密码</a></li>
        <li><a href="forgetpwd_mobile.html">找回密码-输入手机号</a></li>
        <li><a href="forgetpwd_setpwd.html">找回密码-设置新密码</a></li>     
        <br/>
        <li>运动场馆</li>        
        <li><a href="venes_list.html">场馆列表</a></li>
        <li><a href="venes_detail.html">场馆详情</a></li>
        <li><a href="group_detail.html">俱乐部详情</a></li>
        <li><a href="venes_comment.html">场馆评论</a></li>
        <li><a href="venes_debug.html">场馆纠错</a></li>
        <li><a href="venes_add.html">场馆新增</a></li>
        <br/>
        <li>个人中心</li>        
        <li><a href="person_feedback.html">意见反馈</a></li>
        <li><a href="person_help.html">帮助与反馈</a></li>
        <li><a href="person_myCollect.html">我的收藏</a></li>
        <li><a href="person_myComment.html">我的评论</a></li>
        <li><a href="person_myInfo.html">个人信息</a></li>
        <li><a href="person_myMesg.html">我的消息</a></li>
        <li><a href="person_reservatioDetail.html">我的预约详情</a></li>
        <li><a href="person_myReservatio.html">我的预约</a></li>
        <li><a href="person_myPics.html">个人照片</a></li>
        <li><a href="person_center.html">个人主页</a></li>
        <br/>
        <li>其他</li>        
        <li><a href="index.html">主页</a></li>
        <li><a href="index_search.html">场馆OR教练搜索</a></li>
        <li><a href="index_searchInput.html">关键词搜索</a></li>
    	<br/>
        <li>课程预定</li>        
        <li><a href="course_appointment.html">发起课程预约-用户端</a></li>
        <li><a href="course_instructor.html">课程预约 - 教练端</a></li>
        <li><a href="course_load.html">预约公益课，客户待确认情</a></li>
        <li><a href="course_success.html">预约公益课，成功</a></li>
        <li><a href="course_error.html">预约公益课 ，失败</a></li>
        <li><a href="course_cancel.html">预约公益课，取消预约</a></li>    	
    	<br/>
    </ul>
</body>
</html>