   
<div id="content">
    <p><input type="text" class="title" placeholder="请输入内容标题" ng-model="MyFeedback.Title" /></p>
    <div class="areaItem input"><textarea class="comment" ng-model="MyFeedback.Content" placeholder="请在这里输入反馈内容，如果您的反馈被采纳，会提供2000肌点的奖励哦~~~"></textarea></div>
    <!--
    <div class="areaItem addimg">
        <a href="javascript:;"><img src="imgs/user/05.png" /><b></b></a>
        <a href="javascript:;"><img src="imgs/user/03.png" /><b></b></a>
        <a href="javascript:;"><img src="imgs/user/04.png" /><b></b></a>
        <a href="javascript:;" class="adds"></a>
    </div>
    -->
</div><!-- content END-->
<div class="opera" ng-click="submitFeedback()"><a href="javascript:;" class="inlineBlock btn">提交反馈</a></div>
