
<link href="css/person.css" rel="stylesheet" type="text/css" media="all" />
<div class="personHead"><span class="item long"><b></b><i>未读消息</i></span><span class="item long"><b></b><i>全部消息</i></span></div>
<div id="content">
    <div class="mesgList">
        <div class="list first">
            <p class="text">欢迎注册为新会员，我们将发放300肌点的奖励，请注意查收</p>
            <p class="tip">敢动体育<span class="from"></span><span class="time">2015-10-29 13:02:19</span></p>
        </div>
        <div class="list">
            <p class="text">欢迎注册为新会员，我们将发放300肌点的奖励，请注意查收</p>
            <p class="tip">敢动体育<span class="from"></span><span class="time">2015-10-29 13:02:19</span></p>
        </div>
    </div>
    <p class="loadMore"><span class=" inlineBlock icon"></span>下拉获取更多</p>
</div>
