<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>场馆详情</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="css/base-full.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/detail.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/list.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
	
    <div class="venesMesg">
    	<p class="venesname">上海浦东新区源生体育中心</p>
        <div class="tipmesg"><p class="inlineBlock levalmesg leval4"><b></b><i></i><a></a><span></span><strong></strong></p><span class="value">4.1</span><span class="talks">(<i>250</i>人评价)</span><a href="javascript:;" class="goTalk">查看评价</a></div>
    </div>
    <div class="venesShow">
    	<div class="imgList">
        	<a href="javascript:;" class="inlineBlock show left"></a><a href="javascript:;" class="inlineBlock show right"></a>
        	<div class="items"><img src="imgs/user/01.png" alt=""><img src="imgs/user/03.png" alt=""><img src="imgs/user/04.png" alt=""><img src="imgs/user/05.png" alt=""><img src="imgs/user/01.png" alt=""><img src="imgs/user/03.png" alt=""><img src="imgs/user/04.png" alt=""><img src="imgs/user/05.png" alt=""></div>
        </div>
    </div>
    
    <div class="venesShow station"><b class="inlineBlock point"></b>徐汇区上海体育馆站<span class="inlineBlock icon"></span></div>
    
    <div class="venesShow">
        <div class="dataList">
            <div class="list clear listFirst"><span class="icon"></span>
                <div class="showImg"><a href="javascript:;"><img src="imgs/user/01.png" /></a></div>
                <div class="others">
                    <p  class="venesname">俱乐部名称A</span></p>
                    <p class="veresIndro">这是一段描述俱乐部的文字，这是一段俱乐部的文字这是一段描述体育段描述俱乐部的文字这是一段描述俱乐部的文字</p>
                </div>
            </div>
            <div class="list clear"><span class="icon"></span>
                <div class="showImg"><a href="javascript:;"><img src="imgs/user/01.png" /></a></div>
                <div class="others">
                    <p  class="venesname">俱乐部名称B</span></p>
                    <p class="veresIndro">这是一段描述俱乐部的文字，这是一段俱乐部的文字这是一段描述体育段描述俱乐部的文字这是一段描述俱乐部的文字</p>
                </div>
            </div>
            <!--<div class="list clear listEnd"></div>-->            
        </div><!--  dataList END -->
    </div>
    
    <div class="venesShow venesDetail">
		<div class="introduce">
            <div class="item"><span>联系方式：</span><p class="contact">021-65945236</p></div>
            <div class="item"><span>营运时间：</span><p class="operat">夏令时(08:00 - 21:30) 冬令时(09:00 - 21:00) </p></div>
    	</div>
        <div class="showObj"><p class="goodattags"><span>游泳</span><span>跳水</span><span>冲浪</span></p></div>        
        <div class="showObj">
        	<span class="serviceIcon icon1">全场Wifi</span><span class="serviceIcon icon2">出租器材</span><span class="serviceIcon icon2">出售器材</span><span class="serviceIcon icon3">免费停车</span><span class="serviceIcon icon4">免费淋浴</span><span class="serviceIcon icon5">免费饮水</span>
        </div>
        <div class="introduce showObj">
            <div class="item"><span>停车位：</span><p class="stopped">100个</p></div>
            <div class="item"><span>项目内容：</span><p class="objtext">这是一个值得关注的项目</p></div>
            <div class="item"><span>其他杂项：</span><p class="otherobj">请自带洗浴用品和水杯</p></div>
    	</div>
    </div>
    
    <div class="venesShow">
    	<div class="viptalk">
            <div class="title"><b class="inlineBlock"></b><strong>会员评价</strong></div>
            <div class="talkList">
                <div class="item">
                    <div class="mesg"><a href="javascript:;" class="username">逗比程序猿</a><p class="inlineBlock levalmesg leval3"><b></b><i></i><a></a><span></span><strong></strong></p><span class="time">2015-02-23 14:26:58</span></div>
                    <p class="texts">很不错哦，里面环境非常好，教练也不错。使用场馆需要自带哪些东西，另外，场馆提供哪些东西呢？</p>
                </div>
                <div class="item">
                    <div class="mesg"><a href="javascript:;" class="username">逗比程序猿</a><p class="inlineBlock levalmesg leval4"><b></b><i></i><a></a><span></span><strong></strong></p><span class="time">2015-02-23 14:26:58</span></div>
                    <p class="texts">很不错哦，里面环境非常好，教练也不错。使用场馆需要自带哪些东西，另外，场馆提供哪些东西呢？</p>
                </div>
                <div class="item">
                    <div class="mesg"><a href="javascript:;" class="username">逗比程序猿</a><p class="inlineBlock levalmesg leval1"><b></b><i></i><a></a><span></span><strong></strong></p><span class="time">2015-02-23 14:26:58</span></div>
                    <p class="texts">很不错哦，里面环境非常好，教练也不错。使用场馆需要自带哪些东西，另外，场馆提供哪些东西呢？</p>
                </div>                
            </div>
            <p class="loadMore"><span class="inlineBlock icon"></span>下拉获取更多</p>
        </div>
    </div>
    
    <div class="bookCourse"><a href="javascript:;" class="inlineBlock btn">预定课程</a><span class="inlineBlock status statusGray">未收藏</span></div>
    
</body>
</html>