<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>场馆列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="css/base-full.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/list.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
	<div id="filter"><span class="oneif teachLength"><b></b><i>浦东新区</i></span><span class="twoif allitems"><b></b><i>全部分类</i></span><span class="threeif searh"><input type="text" /><b></b></span></div>
    
    <div class="options">
    	<p class="thisTitle"><b></b>获取当前位置</p>
        <div class="items"><span class="bor">嘉定区</span><span>浦东新区</span><span  class="bor">松江区</span><span>静安区</span></div>
    </div>
    
    <div class="options">
    	<p class="thisTitle"><b></b>全部分类</p>
        <div class="items"><span class="bor">运动健身</span><span>羽毛球馆</span><span  class="bor">游泳馆</span><span>武道馆</span></div>
    </div>
    
	<div id="content">
    	<div class="dataList">
        	<div class="list clear listFirst"><span class="icon"></span>
            	<div class="showImg"><a href="javascript:;"><img src="imgs/user/03.png" /></a></div>
                <div class="others">
                	<p  class="venesname">三林体育中心</span></p>
                    <p class="levalmesg leval1"><b></b><i></i><a></a><span></span><strong></strong></p>
                    <p class="veneslMesg"><span class="place">浦东新区</span><span class="useway">运动健身</span></p>
                </div>
            </div>
            <div class="list clear"><span class="icon"></span>
            	<div class="showImg"><a href="javascript:;"><img src="imgs/user/04.png" /></a></div>
                <div class="others">
                	<p  class="venesname">三林体育中心</span></p>
                    <p class="levalmesg leval5"><b></b><i></i><a></a><span></span><strong></strong></p>
                    <p class="veneslMesg"><span class="place">浦东新区</span><span class="useway">运动健身</span></p>
                </div>
            </div>
            <!--<div class="list clear listEnd"></div>-->            
        </div><!-- dataList END-->
        <p class="loadMore"><span class="inlineBlock icon"></span>下拉获取更多</p>
    </div><!-- content END-->
    
</body>
</html>