<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>新增场馆</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="css/base-full.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/course.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/comment.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/jquery-1.8.3.min.js"></script>
</head
<body>
	<div id="content" class="venes_add">
        <div class="courseItem first">场馆名称：<b class="tip"><input type="text"  /></b></div>
        <div class="courseItem">所在城市：<b class="tip"><select><option>上海市</option><option>苏州市</option><option>杭州市</option></select></b></div>
        <div class="courseItem">所在区域：<b class="tip"><select><option>浦东新区</option><option>静安区</option><option>徐汇区</option></select></b></div>
        <div class="courseItem">详细地址：<b class="tip"><input type="text"  /></b></div>
        <div class="courseItem">联系电话：<b class="tip"><input type="text"  /></b></div>
        <div class="courseItem"><span>详细描述：</span><textarea class="altText" placeholder="请在这里输入您的场馆详细信息"></textarea></div>
        <div class="courseItem option"><label><input type="radio" name="isVenes" /><b>有教练</b></label><label><input type="radio" name="isVenes" /><b>没教练</b></label></div>
        <div class="courseItem option"><label><input type="checkbox" name="sportname" /><b>网球场</b></label><label><input type="checkbox" name="sportname" /><b>游泳馆</b></label><label><input type="checkbox" name="sportname" /><b>羽毛球馆</b></label><label><input type="checkbox" name="sportname" /><b>篮球馆</b></label></div>
        <!--<div class="courseItem"></div>-->
        <div class="areaItem addimg">
        	<a href="javascript:;"><img src="imgs/user/05.png"><b></b></a>
            <a href="javascript:;"><img src="imgs/user/03.png"><b></b></a>
            <a href="javascript:;"><img src="imgs/user/04.png"><b></b></a>
            <a href="javascript:;" class="adds"></a>
        </div>
        <div class="opera"><a href="javascript:;" class="btn submit">新增场馆</a></div>
    </div>
</body>
</html>